#account_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#account_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#err {
  color: red;
}

#compte_info {
  background-color: #F5F6CE;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
}

.account_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.account_title h3 {
  padding: 5px;
}
.account_title button {
  height: 30%;
}

#log_form, #pw_form, #mail_form{
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: #F5F6CE;
}
