#accueil_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#login, #create{
  background-color: #F5F6CE;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
}

#err {
  color: red;
}

#forgot_div {
  flex-direction: column;
}
