*{
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body{
  margin: 0;
  background-color: #E0F2F7;
}

#header {
  display: flex;
  width: 100%;
  height: 8%;
  min-height: 70px;
  background-color: #2E9AFE;
  align-items: center;
  justify-content: center;
}

#header:nth-child(1){
  align-self: baseline;
}

#title {

}

#logout {
  margin: auto;
  height: 100%;
  width: 8%;
  position: absolute;
  right: 0;
  top: 0;
}

#logout img {
  width: 50%;
  height: 50%;
}


#header h1{
  margin: 0;
  color: white;
}

#home {

  height: 100%;
  width: 8%;
}

#home img{
  height: 100%;
  width: 100%;
  min-width: 70px;
}

.page{
  display: flex;
  height: 92%;
}

#accueil{
  padding: 8px;
}

#accueil p{
  margin: 0;
}

#sidebar{
  width: 8%;
  min-width: 70px;
  height: 100%;
  background-color: #086A87;
}
