*{
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body{
  margin: 0;
  background-color: #E0F2F7;
}

#header {
  display: flex;
  width: 100%;
  height: 8%;
  min-height: 70px;
  background-image: url(../img/header.jpg);
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: fixed;
}

#title {
}

#user_setting {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 16%;
  padding: 10px;
}

#compte, #logout {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header h1{
  margin: 0;
  color: white;
}

#home {
  display: flex;
  align-items: center;
  height: 100%;
  width: 8%;
}

#home img {
  height: 50%;
  width: 50%;
  min-width: 70px;
}

#compte img {
  height: 70%;
  width: 70%;
  min-width: 70px;
}

#logout img{
  height: 25%;
  width: 25%;
  min-width: 35px;
}

.page{
  padding: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#login {
}

#presentation {
  width: 25%;
  height: 50%;
  text-align: center;
  line-height: 1.5em;
}

#accueil{
  width: 25%;
  height: 50%;
  text-align: center;
}

#accueil p{
  margin: 0;
}

#err {
  color: red;
}

#compte_info {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
}

.account_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.account_title h3 {
  padding: 5px;
}
.account_title button {
  height: 30%;
}


/*#sidebar{
  width: 8%;
  min-width: 70px;
  height: 100%;
  background-color: #086A87;
}*/
